table {
  width: 100%;
  min-width: 1040px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: center;
}

table#t01 tr:nth-child(even) {
  background-color: #eee;
}

table#t01 tr:nth-child(odd) {
  background-color: #fff;
}

table#t01 th {
  background-color: black;
  color: white;
}

#checkk {
  background-color: #4CAF50;
  /* Green */
  width: 500px;
  color: white;
  padding: 20px 5px;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}

.api {
  padding-top: 50px;
  width: 100%;
  min-width: 1040px;
  max-height: 600px;
}

.first {
  float: left;
  height: auto;
  text-align: center;
  margin-top: 150px;
  padding-left: 10%;
}

iframe{
  margin-right: 150px;
  float: right;
}
